// FONT SIZE

$fontSizeDefault: 1rem;

$fontSizeDotOne: 1.1rem;
$fontSizeDotTwo: 1.2rem;
$fontSizeDotThree: 1.3rem;
$fontSizeDotFour: 1.4rem;
$fontSizeDotFive: 1.5rem;

$fontSizeOne: 1rem;
$fontSizeTwo: 2rem;
$fontSizeThree: 3rem;
$fontSizeFour: 4rem;
$fontSizeFive: 5rem;

// COLORS

$color-white: #ffffff;
$color-black: #000000;

$color-light-cyan: #5bbabc;
$color-bright-purple: #a369cd;
$color-dull-pink: #8b3053;

// SHADOWS

$white-section-background: #ffffff90;
