<div class="section-container">

   <div class="title-container">
      <h1>Section Two</h1>
      <div class="separator-container">
         <div class="separator"></div>
      </div>
   </div>

   <div class="section-content">
      <div class="section-item" (click)="showModal('lope-vega')">
         <img src="/assets/images/section-image-1.jpg" alt="Lorem ipsum" class="">
         <p>Lorem ipsum</p>
      </div>
      <div class="section-item" (click)="showModal('el-ardal')">
         <img src="/assets/images/section-image-2.jpg" alt="Lorem ipsum" class="">
         <p>Lorem ipsum</p>
      </div>
      <div class="section-item" (click)="showModal('gimnasio-magali')">
         <img src="/assets/images/section-image-3.jpg" alt="Lorem ipsum" class="">
         <p>Lorem ipsum</p>
      </div>
      <div class="section-item" (click)="showModal('vivienda-montecerrado')">
         <img src="/assets/images/section-image-4.jpg" alt="Lorem ipsum" class="">
         <p>Lorem ipsum</p>
      </div>
   </div>

</div>

<!-- POPUP -->

<div class="capa-deshabilitadora-oscura" *ngIf="ourProductPopup" @inOutFade></div>

<app-popup-three
   *ngIf="ourProductPopup"
   @PopUpRebote
   (close)="closeModal($event)"
   [popupContent]="activePopupContent"
   >
</app-popup-three>
